body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: url('img/background_0.jpg') no-repeat center center fixed;
    background-size: cover;
}

body.waiting * {
    cursor: progress;
}

#video-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#video-player {
    width: 100%;
    max-width: 1000px;
}

#button-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#button-container:hover {
    filter: brightness(110%);
}

h3 {
    color: #f3f30f;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    margin-bottom: 20px;
}

h4 {
    margin-bottom: 30px;
}

#quizz-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(209 209 209 / 80%);
    border-radius: 10px;
    padding: 20px;
}

#quizz-answers {
    margin-top: 20px;
    margin-bottom: 20px;
}

#quizz-answers .col {
    margin-bottom: 20px;
    width: 100%;
}

.answer {
    width: 100%;
}

#life-container {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 20px 20px 20px 30px;
    animation-name: null;
    animation-duration: 0.5s;
    animation-iteration-count: 2;
}

.col-sm {
    padding: 2px;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}